---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Forsiden">
  <img class="video_billede" src="/imgs/forside_videoimg.jpg" alt="stilbillede af forside videoen for hoest moen." />
  <img class="overskrift_logo" src="/iconer_illustration/overskrift_logo.svg" alt="overskrift logo, hvor der staar hoest moen.">
   <h2 class="hvad_er_hostmon">HVAD ER HØST MØN?</h2>


  <div class="forside_grid">
    <div class="text_forside">
  <p>Billetterne er i salg nu! Inflationen inden for æstetik, alkohol og gebyrer er stadig høj, så priserne bliver nødt til at følge med. Men det lover vi, at kvaliteten og oplevelsen også gør, og vi stiller pengene-tilbage-garanti for enorm lykke. Hvad med navnet? Det finder vi ud af. Indtil videre hedder vi det samme. Man kan tage festivalen ud af Møn, men ikke Møn ud af festivalen og alt det der.</p>
  <br />
  <p>Det er den syvende Høst Møn på ni år, for hverken verdensomspændende pandemier eller lokalt huserende markfirben kan holde os fra at skabe skønne, støjende fællesskaber på sydlige breddegrader med alle jer.</p>
  <br />
  <p>Vi er sikkert stadig sommerens sidste skrig, og vores enorme ambitioner er uændrede. Høst Møn er en musikfestival for folk, der elsker begge dele: musik og festival. Vi er til for mennesker, der gerne vil lytte til musikken. Vi booker bredt fra dit yndlingsband til de små spillesteders snavsede juveler.</p>
  <br />
  <p>Der kommer mindst 12 bands på årets festival. Der kommer økologisk fadøl og lokalbrygget gin. Der er opbyggelig fællesspisning med nedbrydeligt bestik under kulørte lamper. Det er havudsigt, stjernehimmel og træk-og-slip.</p>
  <br />
  <p>Du kan gøre, hvad du vil på Høst Møn - med eller uden børn og søvn. Omgivelserne er trygge, og rammerne er vide, og hvis du vil bade om natten og drikke om morgenen, så kan du gøre det. Så længe du ikke snakker foran scenen, når musikken spiller.</p>
  <br />
  <p>Det lykkedes os ikke at finde et nyt sted i 2025, så i stedet brugte vi vores kræfter på at kuratere og afvikle musik til den nystartede Impact Festival i Københavns Sydhavn sammen med de fine folk fra Trifolium. Det gør vi igen i 2026, samtidig med at vi holder Høst Møn.</p>
</div>

  <img class="forside_billedekolage" src="/imgs/forside_billede1.jpg" alt="en billedekollage af tre billeder. Oeverste billede er et naerbillede af en guitar. Naeste billede er et billede af en flok kocertageste i dagslys. Sidste billede er et billede af koncertgaeste i aftentimerne." />
  </div>


  <h2 class="vores_lineup_overskrift">VORES LINEUP:</h2>

  <div class="kunstner_loop">
    
  <img class="kunstnerloop_img0" src="/imgs/forside_billede2.jpg" alt="et billede af en kunsterne, som skal spille paa hoes moen." />
  <img class="kunstnerloop_img1" src="/imgs/forside_billede3.jpg" alt="et billede af en kunsterne, som skal spille paa hoes moen." />
  <img class="kunstnerloop_img1" src="/imgs/forside_billede4.jpg" alt="et billede af en kunsterne, som skal spille paa hoes moen." />
  <img class="kunstnerloop_img1" src="/imgs/forside_billede5.jpg" alt="et billede af en kunsterne, som skal spille paa hoes moen." />
  <img class="kunstnerloop_img0" src="/imgs/forside_billede6.jpg" alt="et billede af en kunsterne, som skal spille paa hoes moen." />

</div>

   <h3 class="kunstner_navne_loop">MAJKE VOSS. MIAW. SCHOOL OF X. BOKO YOUT(S). SNUGGLE. SPAWNER.MAJKE VOSS. MIAW. SCHOOL OF X. BOKO YOUT(S). SNUGGLE. SPAWNER.MAJKE VOSS. MIAW. SCHOOL OF X. BOKO YOUT(S). SNUGGLE. SPAWNER.MAJKE VOSS. MIAW. SCHOOL OF X. BOKO YOUT(S). SNUGGLE. SPAWNER.BOKO YOUT(S). SNUGGLE. SPAWNER.</h3>
  
   <a class="lineup_btn" href="/lineup">se lineup</a>

  <img class="kornblomst" src="/iconer_illustration/kornblomst.svg" alt="en illustration af et hvedekorn i en haandtegnet stil.">
    
  
  <div class="bottom_loop">
     <img class="btmloop_img" src="/imgs/forside_billede7.jpg" alt="et billede af nogle mennesker, der sider paa en halmballe i dagslys." />
  <img class="btmloop_img" src="/imgs/forside_billede8.jpg" alt="et moerkt billede af en koncert, med lys i baggrunden, som former en cirkel." />
  <img class="btmloop_img" src="/imgs/forside_billede9.jpg" alt="et billede af en flok mennesker, som staar med armene i vejret i dagslys." />
  
  <div class="btn_container"><button class="cta">Køb din billet</button> </div>
  </div>
 
 
   
</Layout>

<style>

.kunstnerloop_img0 {
  height: 300px;
}

.kunstnerloop_img1 {
  height: 300px;
}

      .video_billede{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
}
  .overskrift_logo{
  width: min(300px, 95%);
  justify-self: center;
  margin-bottom: 45px;
 } 
 .hvad_er_hostmon{
  margin-top: 5rem;
  margin-bottom: 2rem;
  background-color: var(--color-overskrift-bg);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 261px;
 }
 h2{
  margin: 3rem;
 }
 p{
     line-height: 1.6;
    max-width: 65ch;
    margin-left: 3rem;
    margin-right: 3rem;
 }
 .forside_billedekolage{
  width: 410px;
  margin-bottom: 5rem;
  justify-self: center;
margin-top: 2rem;
 }
 .cta{
  border: 4px solid #d4ff00;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #757474;
    font-size: 1.1rem;
     /* margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem; */
 }
 /* .btn_container{
  grid-row: 2/3;
  grid-column: 1/4;
  display: grid;
  justify-items: center;
  grid-column: span 3;
 } */
  .bottom_loop{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5rem;
  img{grid-row: 2/3;} */
 }
 .btmloop_img:nth-child(1){
 grid-row: 1/2;
    grid-column: 1/2;
 }
.btmloop_img:nth-child(2){
   grid-row: 1/2;
    grid-column: 2/3;
}
.btmloop_img:nth-child(3){
    grid-row: 1/2;
    grid-column: 3/4;
}
.btn_container{
    grid-row: 1/2;
    grid-column: 1/4;
  display: grid;
  place-items: center center;
}


 .lineup_btn{
  border: 4px solid #d4ff00;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #757474;
    font-size: 1.1rem;
    margin-top: 2rem;
    display: grid;
    place-self: center;
    width: 150px;
    justify-content: center;
 }
    

 .kornblomst{
  width: 500px;
    justify-self: center;
    margin-top: 0.5rem;
 }
 .vores_lineup_overskrift{
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  background-color: var(--color-overskrift-bg);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-self: center;
 }
 .kunstner_loop{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 300px;
 }
 .kunstner_navne_loop{
  font-size: 1rem;
  margin-top: 0.5rem;
 }


  .btmloop_img{
height: 300px;
margin-top: 3rem;
margin-bottom: 5rem;
 }

  @media screen and (min-width: 800px) {
    .forside_grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .video_billede{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
}

 .overskrift_logo{
  width: min(900px, 95%);
  justify-self: center;
  margin-bottom: 200px;
 } 

  .forside_billedekolage{
  width: 700px;
  margin-bottom: 5rem;

 }

  .bottom_loop{
  display: grid;


  }

</style>
