---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Forsiden">
  <img src="/imgs/forside_videoimg.jpg" alt="" />
  <h2>HVAD ER HØST MØN?</h2>
  <p>Billetterne er i salg nu! Inflationen inden for æstetik, alkohol og gebyrer er stadig høj, så priserne bliver nødt til at følge med. Men det lover vi, at kvaliteten og oplevelsen også gør, og vi stiller pengene-tilbage-garanti for enorm lykke. Hvad med navnet? Det finder vi ud af. Indtil videre hedder vi det samme. Man kan tage festivalen ud af Møn, men ikke Møn ud af festivalen og alt det der.</p>
  <br />
  <p>Det er den syvende Høst Møn på ni år, for hverken verdensomspændende pandemier eller lokalt huserende markfirben kan holde os fra at skabe skønne, støjende fællesskaber på sydlige breddegrader med alle jer.</p>
  <br />
  <p>Vi er sikkert stadig sommerens sidste skrig, og vores enorme ambitioner er uændrede. Høst Møn er en musikfestival for folk, der elsker begge dele: musik og festival. Vi er til for mennesker, der gerne vil lytte til musikken. Vi booker bredt fra dit yndlingsband til de små spillesteders snavsede juveler.</p>
  <br />
  <p>Der kommer mindst 12 bands på årets festival. Der kommer økologisk fadøl og lokalbrygget gin. Der er opbyggelig fællesspisning med nedbrydeligt bestik under kulørte lamper. Det er havudsigt, stjernehimmel og træk-og-slip.</p>
  <br />
  <p>Du kan gøre, hvad du vil på Høst Møn - med eller uden børn og søvn. Omgivelserne er trygge, og rammerne er vide, og hvis du vil bade om natten og drikke om morgenen, så kan du gøre det. Så længe du ikke snakker foran scenen, når musikken spiller.</p>
  <br />
  <p>Det lykkedes os ikke at finde et nyt sted i 2025, så i stedet brugte vi vores kræfter på at kuratere og afvikle musik til den nystartede Impact Festival i Københavns Sydhavn sammen med de fine folk fra Trifolium. Det gør vi igen i 2026, samtidig med at vi holder Høst Møn.</p>
  <img src="/imgs/forside_billede1.jpg" alt="" />
  <h2>VORES LINEUP</h2>
  <img src="/imgs/forside_billede2.jpg" alt="" />
  <img src="/imgs/forside_billede3.jpg" alt="" />
  <img src="/imgs/forside_billede4.jpg" alt="" />
  <img src="/imgs/forside_billede5.jpg" alt="" />
  <img src="/imgs/forside_billede6.jpg" alt="" />
  <a href="/lineup">se lineup</a>
  <button>Køb din billet</button>
  <img src="/imgs/forside_billede7.jpg" alt="" />
  <img src="/imgs/forside_billede8.jpg" alt="" />
  <img src="/imgs/forside_billede9.jpg" alt="" />
</Layout>
