---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Artist from "../components/ArtistCard.astro";

const url = `${import.meta.env.SUPABASE_URL}/rest/v1/artist_tabel?select=*`;
const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const options = {
  headers: {
    apikey: apiKey,
  },
};

const data = await fetch(url, options).then((res) => res.json());

console.log(data);
---

<Layout title="Lineup">
  <h1>Artister</h1>

  {data.map((artist) => <Artist artist={artist} />)}
</Layout>
