---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Maaltidet">
  <h2>Mere end en festival</h2>
  <img src="/public/imgs/maaltid_img1.jpg" alt="billede 1" />
  <p>
    Høst Møn er andet og meget mere end koncerter med havudsigt, dansefest under
    åben himmel og camping med træk&slip.
  </p>
  <p>
    Det er også en fest, der kredser - og kræser- om det fælles måltid, og Høst
    Møns Madjunta har udfoldet nedenstående manifest for måltidet på Høst Møn.
    Den store fællesmiddag lørdag er inkluderet i billetprisen.
  </p>
  <div>
    <img src="/public/imgs/maaltid_img2.jpg" alt="billede 2" />
    <img src="/public/imgs/maaltid_img3.jpg" alt="billede 3" />
    <h2>Det spiser vi</h2>
    <p>
      Mad og råvarer er fra omegnen og fra personer vi kender. De kigger forbi
      festivalen, så sig hej, hvis du møder dem. Råvareudbud og sæson afgør
      menuen. Menuen for Høst Møns måltider er tilrettelagt ud fra de
      producenter, der ligger i omegnen, og som har råvarer, der er i sæson.
    </p>
    <p>
      Det sætter et naturligt benspænd for, hvad der er på menuen, og skaber et
      måltid, der afspejler årstiden. Råvarer er så lidt forarbejdede som muligt
      – og så bruger vi det hele. Det er for os vigtigt at arbejde med en
      tilgang om, at hele råvaren bruges, så køkkenet ikke efterlader et
      unødvendigt spild, der ellers kunne have været til nytte et andet sted.
    </p>
  </div>

  <h2>Sådan spiser vi</h2>
  <p>
    Vi spiser sammen. Børn, voksne, dem der har lavet maden, dem der spiller
    musikken, og dem der står bag baren. Måltidet skal være en sanselig
    oplevelse, og maden skal nydes. Vi vil gerne mindske affodrings-buffeter,
    hvor maden kun er til for at mætte.
  </p>
  <p>
    Vi har sat os for, at selvom vi er mange, der skal spise sammen på samme
    tid, skal det være et sted for fællesskab og et fælles sted at opleve det
    unikt tilrettelagte Høst Møn måltid.
  </p>
  <img src="/public/imgs/maaltid_img4.jpg" alt="billede 4" />
  <img src="/public/imgs/maaltid_img5.jpg" alt="billede 5" />
</Layout>
