---
//@ts-nocheck
const { artist, img, name, date_time } = Astro.props;
---

<article>
  <img src={artist.img} alt="billede" />
  <h2>{artist.name}</h2>
  <p>Tid og dato: {artist.date_time}</p>
</article>


<style>
 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 999px;
}

h2 {
 width: 310px;
 height: 60px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;

  position: absolute;

  bottom: 25px;    
  left: 50%;
  transform: translate(-50%);

  text-align: center;
  background-color: #515151;
  border-radius: 40px;

   cursor: pointer;
  transition: 0.2s;
}

h2:hover {
    transform: translate(-50%) scale(1.10);
}

article {
  position: relative;
  width: 300px;
}

p {
  text-align: center;
  margin-top: 2rem;
}

</style>