---
//@ts-nocheck
const { title } = Astro.props;

import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <Menu />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
